@charset "utf-8";
/* CSS Document */

body, h1, h2, h3, h4, h5, h6, p, menu, ul, li, img {
	margin: 0px;
	padding: 0px;
	border: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
}
body {
	background-image: url(imgs/Background-2.png);
	background-repeat:repeat;
	overflow-y: scroll;
}
section {
	padding: 10px 0px;
}

.bkgcolordg {
	background-color: #606066;
	background: linear-gradient(#606066, #505055);
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1px;
}
.bkgcolorlg {
	background-color: #7B7676;
	background: linear-gradient(#7B7676, #6a6565);
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1px;
}
.bkgcolorblue {
	background-color: #2088B8;
	background: linear-gradient(#2088B8, #1b739b);
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1px;
}

a {
	text-decoration: none;
	color: #2088B8;
}
h1 {
	padding-top: 25px;
}
h2 {
	font-size: 1.5em;
}
h3 {
	font-size: 1.2em;
}
p {
	margin: 5px 0px 15px;
	font-size: 0.9em;
	line-height: 1.3em;
}
@media only screen and (max-width:750px){
	p {
		width: 100%;
		margin: 5px 0px;
	}
	p, h1, h2, h3 {
		padding-left: 10px;
		padding-right: 10px;
		box-sizing: border-box;
	}
}

.full-container {
	width: 100%; 
	margin: 0px auto;
}
.center-container {
	width: 1000px;
	margin: 0px auto;
	padding: 30px 0px;
}
@media screen and (max-width:750px){
	.full-container { 
		width: 100%;
		margin: 0px;
	}
	.center-container {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}
}

/* Menu Styles */
menu ul {
	list-style: none;
	width: 100%;
}
menu li {
	color: #fff;
	width: 400px;
	padding: 10px;
	border-bottom: #fff 2px solid;
	transition: box-shadow 0.2s ease-in-out;
}
menu li:hover {
	/*border-bottom: #606066 2px groove;*/
	box-shadow: rgba(0,0,0,0.3) 0px 5px 5px;
}
menu img {
	height: 22px;
	margin-right: 8px;
	float: left;
}
.current-page {
	background-color: #606066;
	border: 1px solid #f0f0f0;
}
.current-page h2 {
	color: #f0f0f0;
}
@media only screen and (max-width:750px){
	menu {
		float: none;
		width: 100%;
	}
	menu li {
		padding: 10px 0px 35px 10px;
		margin: 0px;
		width: 100%;
		box-sizing: border-box;
	}
}

	
/* Banner Styles*/
.banner {
	border-bottom: #fff 2px solid;
}
@media only screen and (max-width:750px){
	.banner {
		height: auto;
	}
}
.bannerimg {
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1px;
	border-bottom: #fff 2px solid;
}
@media only screen and (max-width:750px){
	.bannerimg {
		width: 100%;
	}
}


/* CSS for the circle templates used across the site */
.circle-container {
	animation: 0.8s ease-out 0s 1 slideInFromLeft;
}
.main-circle {
	animation: 0.7s ease-out 0s 1 slideInFromBottomCircle;
	width: 180px;
	height: 180px;
	border-radius: 100%;
	margin: 20px;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1px;
	transition: border-radius 0.6s, box-shadow 0.2s 0.1s;
}
.main-circle:hover {
	border-radius: 0%;
	box-shadow: rgba(0,0,0,0.3) 0px 2px 0px;
}
@media only screen and (max-width:750px){
	.main-circle {
		margin-left: 25%;
		text-align: center;
	}
}

/* Adaptation of the circle templates to form a simple gallery */
.gallery {
	animation: 0.8s ease-out 0s 1 slideInFromBottomContainer;
	clear:both;
}
.gallery-pic {
	background-color: #606066;
	display: inline-block;
	width: 180px;
	height: 180px;
	margin: 20px;
	box-shadow: rgba(0,0,0,0.2) 0px 0px 1px;
	transition: box-shadow 0.2s;
}
.gallery-pic:hover {
	box-shadow: rgba(0,0,0,0.3) 0px 2px 5px;
}
@media only screen and (max-width:750px){
	.gallery {
		text-align:center;
	}
	.gallery-pic {
		margin: 5px;
		box-sizing: border-box;
	}
}


/*Animation stuff here */
@keyframes slideInFromLeft {
	0% {
		width: 50%;
		opacity: 0;
	}
	20% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
		width: 100%;
	}
}
@keyframes slideInFromBottomContainer {
	0% {
		transform: translateY(200%);
		opacity: 0;
	}
	100% {
		transform: translateY(0%);
		opacity: 1;
	}
}
@keyframes slideInFromBottomCircle {
	0% {
		transform: translateY(20%);
	}
	20% {
		transform: translateY(20%);
	}
	60% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(0%);
	}
}