@charset "utf-8";
/* CSS Document */
body, H1, H2, H3, H4, H5, H6, p, ul, li {
	padding: 0px;
	margin: 0px;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
}
body {
	font-size: 100%;
	background: url(../background.svg) #2a2a2a;
	background-size: 100%;
	background-repeat: repeat;
	color: #EEEEEE;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
p {
	line-height: 1.4em;
}
/* Medium screens */
@media screen and (max-width: 1300px) {
	p {
		font-size: 120%;
	}
}

/* Small screens */
@media screen and (max-width: 1000px) {
	p {
		font-size: 150%;
	}
}

/*Navigation styling*/
nav {
	position: fixed;
	bottom: 0px;
	width: 100%;
	opacity: 0.5;
	background: linear-gradient(0deg,rgba(0,0,0,80)0%,rgba(0,0,0,40)10%,rgba(0,0,0,0)100%);
	transition: opacity ease 1s;
}
nav:hover {
	opacity: 0.9;
}
nav ul {
	list-style: none;
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: center;
}
nav ul li {
	max-width: 300px;
	flex-grow: 1;
	font-size: 1.7em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 40px;
	transition: color ease-in 0.3s;
	text-shadow: 0px 2px 2px #00000010;
	color: #707070;
}
nav ul li:hover {
	color: #EEEEEE;
	animation: shiftUp cubic-bezier(0.6,0.5,0.1,1.0) 0.6s;
	animation-fill-mode: both;
}
#navlogo {
	order: 1;
}
#navwork {
	order: 0;
}
#navabout {
	order: 2;
}
.current {
	color: #FF6D00;
}
.current:hover {
	color: #FF6D00;
}
.spinningCircle {
	transform: rotate(0deg);
	transform-origin: center;
	animation: spinCircle infinite 3s linear;
}
@keyframes spinCircle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
/* Large than FHD screens */
@media screen and (min-width: 1921px) {
	nav ul {
		max-width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
}
/* Medium screens */
@media screen and (max-width: 1300px) {
	nav ul {
		max-width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
  	nav ul li {
    	padding: 20px 0px;
		max-width: 300px;
  	}
}

/* Small screens */
@media screen and (max-width: 1000px) {
	nav {
		background: #000;
		border-top: 2px #FFF solid;
	}
	.collapse {
		transform: translateY(130px);
		transition: transform ease 0.5s;
	}
	.expand {
		transform: translateY(0%);
		transition: transform ease 0.5s;
	}
	nav ul {
		flex-flow: column;
		margin-bottom: 20px;
	}
	nav ul li {
		max-width: 100%;
	  	padding: 10px 0px;
	}
	
  	#navlogo {
		order: 0;
	}
	#navwork {
		order: 1;
	}
	#navabout {
		order: 2;
	}
}

@keyframes shiftUp {
	0% {
		transform: translateY(0);
		text-shadow: 0px 0px 2px #00000010;
	}
	100% {
		transform: translateY(-6px);
		text-shadow: 0px 6px 5px #00000055;
	}
}
.maincontainer {
	width: 100%;
	margin: 0px auto 80px auto;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}
.spacecontainer {
	width: 66%;
	padding: 4%;
}
.pagetitle {
	margin: 0px auto;
	color: #FFF;
	border-bottom: #FFF solid 3px;
	text-align: center;
	padding: 2% 4% 0px;
}
.pagetitle h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}
.pagetitle ul {
	display: inline-block;
	list-style: none;
	margin: 0px;
}
.pagetitle ul li {
	display: inline-block;
	padding: 10px;
	font-size: 1.1em;
	transition: color ease 0.2s;
}

.showcase {
	margin-bottom: 20px;
}
.showcase h1 {
	font-weight: lighter;
	font-size: 2em;
	margin: 20px 0px;
}
.showcase .showcase_hero {
	width: 100%;
	margin: 20px 0px;
}
a {
	color: inherit;
	text-decoration: none;
}
/* Large than FHD screens */
@media screen and (min-width: 1921px) {
	.spacecontainer {
		max-width: 40%;
		padding: 2%;
	}
}
/* Medium screens */
@media all and (max-width: 1300px) {
	.spacecontainer {
		width: 80%;
	}
}

/* Small screens */
@media all and (max-width: 1000px) {
  .spacecontainer {
	  width: 100%;
  }
}

article h3 {
	margin: 30px 0px 5px;
}
article p {
	margin: 5px 0px 15px;
}
@charset "utf-8";
/* CSS Document */
body, H1, H2, H3, H4, H5, H6, p, ul, li {
	padding: 0px;
	margin: 0px;
}
body {
	background: url(../background.svg) #2a2a2a;
	background-size: 100%;
	background-repeat: repeat;
	color: #EEEEEE;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
nav {
	position: fixed;
	bottom: 0px;
	width: 100%;
	opacity: 0.5;
	background: linear-gradient(0deg,rgba(0,0,0,80)0%,rgba(0,0,0,40)20%,rgba(0,0,0,0)100%);
	transition: opacity ease 1s;
}
nav:hover {
	opacity: 0.9;
}
nav ul {
	list-style: none;
	display: flex;
	flex-flow: row;
	flex-wrap: nowrap;
	justify-content: center;
}
nav ul li {
	max-width: 300px;
	flex-grow: 1;
	font-size: 1.7em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 40px;
	transition: color ease-in 0.3s;
	text-shadow: 0px 2px 2px #00000010;
	color: #707070;
}
nav ul li:hover {
	color: #EEEEEE;
	animation: shiftUp cubic-bezier(0.6,0.5,0.1,1.0) 0.6s;
	animation-fill-mode: both;
}
#navlogo {
	order: 1;
}
#navwork {
	order: 0;
}
#navabout {
	order: 2;
}
.current {
	color: #FF6D00;
}
.current:hover {
	color: #FF6D00;
}
.spinningCircle {
	transform: rotate(0deg);
	transform-origin: center;
	animation: spinCircle infinite 3s linear;
}
@keyframes spinCircle {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
/* Large than FHD screens */
@media screen and (min-width: 1921px) {
	nav ul {
		max-width: 40%;
		margin-left: auto;
		margin-right: auto;
	}
}
/* Medium screens */
@media screen and (max-width: 1300px) {
  	nav ul li {
    	padding: 20px 0px;
  	}
}

/* Small screens */
@media screen and (max-width: 1000px) {
	nav {
		background: #000;
		border-top: 2px #FFF solid;
	}
	.collapse {
		transform: translateY(110px);
		transition: transform ease 0.5s;
	}
	.expand {
		transform: translateY(0%);
		transition: transform ease 0.5s;
	}
	nav ul {
		flex-flow: column;
	}
	nav ul li {
	  	padding: 10px 0px;
	}
	
  	#navlogo {
		order: 0;
	}
	#navwork {
		order: 1;
	}
	#navabout {
		order: 2;
	}
}

@keyframes shiftUp {
	0% {
		transform: translateY(0);
		text-shadow: 0px 0px 2px #00000010;
	}
	100% {
		transform: translateY(-6px);
		text-shadow: 0px 6px 5px #00000055;
	}
}
.maincontainer {
	width: 100%;
	margin: 0px auto 80px auto;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: center;
}
.spacecontainer {
	width: 66%;
	padding: 4%;
	margin: 0px auto;
}
.pagetitle {
	margin: 0px auto;
	color: #FFF;
	border-bottom: #FFF solid 3px;
	text-align: center;
	padding: 2% 4% 0px;
}
.pagetitle h1 {
	font-size: 2.5em;
	margin-bottom: 20px;
}
.pagetitle ul {
	display: inline-block;
	list-style: none;
	margin: 0px;
}
.pagetitle ul li {
	display: inline-block;
	padding: 10px;
	font-size: 1.1em;
	transition: color ease 0.2s;
}

.showcase h1 {
	font-weight: lighter;
	font-size: 2em;
	margin: 20px 0px;
}
.showcase .showcase_hero {
	width: 100%;
	margin: 20px 0px;
}
.showcase_meta {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	font-size: 0.8em;
	margin: 20px;
}
.showcase_meta ul {
	flex-basis: 50%;
}
.showcase_details p {
	margin: 10px 0px;
	font-size: 0.9em;
	line-height: 1.5em;
}
a {
	color: inherit;
	text-decoration: none;
}
/* Large than FHD screens */
@media screen and (min-width: 1921px) {
	.spacecontainer {
		max-width: 40%;
	}
}
/* Medium screens */
@media all and (max-width: 1300px) {
  .spacecontainer {
    /* When on medium sized screens, we center it by evenly distributing empty space around items */
    width: 80%;
  }
}

/* Small screens */
@media all and (max-width: 1000px) {
  .spacecontainer {
	  width: 100%;
  }
}
